.home {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-align: center;
}

.home_left {
    flex: 1;
    padding: 20px;
    text-align: left;
    /* Left align for both mobile and desktop */
}

.home_left_h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.home_left_desc {
    font-size: 1.1rem;
    margin-bottom: 20px;
}

.home_left_btn {
    background-color: #007bff;
    color: white;
    padding: 10px 30px;
    /* Fixed max length for the button */
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 1.2rem;
    max-width: 180px;
    /* Set a maximum width for the button */
    display: inline-block;
    /* Prevent button from taking full width */
}

.home_right {
    display: none;
    /* Hide the image in mobile view */
}

@media (min-width: 768px) {
    .home {
        flex-direction: row;
        text-align: left;
    }

    .home_left {
        text-align: left;
        /* Left align for desktop view */
    }

    .home_right {
        display: block;
        /* Show the image in desktop view */
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}