.form_img{
    height: 350px;
}
input{
    background-color: transparent;
    border: 1px solid black;
    padding: 10px;
    border-radius: 5px;
}
textarea{
    background-color: transparent;
    border: 1px solid black;
    padding: 10px;
    border-radius: 5px;
    height: 150px;
}
form{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 400px;
    justify-content: space-around;
}
.contact-subheading{
    color: #717171;
    /* letter-spacing: 1px; */
    margin-top: -30px;
    

}
.contact-text{
      margin-bottom: 50px;
}
.contact{
    width: 80rem;
    margin-top: 40px;
    margin-left: 100px;
    /* margin-top: 100px; */
    /* margin: auto; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /*border: solid 1px;
    */box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    height: 70vh;
    box-sizing: border-box;
    padding: 50px;
    /* margin: 0 auto; */
    width: 60rem;
    border-radius: 6px;
    /*max-width: 100rem;
    */-webkit-border-radius:10px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    -webkit-border-radius: 6px;
}
.contact_head{
    font-size: 40px;
    font-weight: 900;
    margin-top: 70px;
    margin-bottom: 30px;
}
.contact-head{
    font-weight: 100;
}
.contact input[type="text"],
.contact input[type="email"],
.contact textarea {
  width: 100%;
  padding: 10px;
  font-style: "poppins";
  border: 1px solid #ffffff;
  border-radius: 5px;
  background-color: #faf9f9;
}
.contact input[type="text"]{
    margin-top: 20px;
}
button{
    width: 120px;
    background-color: #60a8ff;
    border: transparent;
    padding: 10px;
    margin-bottom: 20px;
    color: white;
    font-weight: bolder;
    border-radius: 5px;
}
button:hover{
    background-color: rgb(62, 132, 224);
}