.App {
    font-family: sans-serif;
    text-align: center;
  }
  
  /* SOCIAL STUFF */
  .social-container {
    
    padding-top: 45px;
    /* align-items: baseline; */
  
  }
  a.social {
    margin: 0 1rem;
    transition: transform 250ms;
    display: inline-block;
  }
  
  a.social:hover {
    transform: translateY(-4px);
    -webkit-transform: translateY(-4px);
    -moz-transform: translateY(-4px);
    -ms-transform: translateY(-4px);
    -o-transform: translateY(-4px);
}
  

  .iconColor{
      color: #fff;
  }
  