.App {
  text-align: center;
}
.pi-items, .pi{
  position: absolute;
  margin-top: 180px;
  
}
body{
  width: 102vw;
}
html{
  scroll-behavior: smooth;
}

.link_it{
  text-decoration: none;
  color: black;
}
.link_it_white{
  text-decoration: none;
  color: white;
}
body{
  overflow-x: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
